.content_block {
  padding: 10px;
  text-align: center;
}

.column_block {
  margin-bottom: 15px;
}

a:hover {
  text-decoration: none !important;
}

.custom-tab-panel button.panel_tab {
  margin: 0;
}

.custom-tab-panel .tab-advanced.parent_tab {
  position: relative;
}

.custom-tab-panel .components-tab-panel__tabs {
  gap: 5px;
  margin-bottom: 20px;
}

.custom-tab-panel .components-tab-panel__tabs-item {
  height: 30px;
}
.custom-tab-panel .parent_tab {
  position: relative;
}
.custom-tab-panel .parent_tab.active-tab:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 8px 0 8px;
  border-color: #4c6fff transparent transparent transparent;
  bottom: -8px;
  left: 0;
  right: 0;
  margin: auto;
}

.components-button:focus:not(:disabled) {
  box-shadow: unset !important;
}

.custom-tab-panel .child_tab.active-tab,
.custom-tab-panel button.child_tab.panel_tab:hover {
  color: #4c6fff !important;
}
.custom-tab-panel .child_tab.active-tab::before,
.custom-tab-panel button.child_tab.panel_tab:hover::before {
  visibility: visible;
  opacity: 1;
  width: 100%;
  right: 0;
  left: auto;
}

.custom-tab-panel .child_tab {
  position: relative;
}
.custom-tab-panel .child_tab::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--rt-tpg-color-primary);
  width: 0;
  height: 2px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}

.custom-tab-panel .child_tab {
  color: #333 !important;
}

.custom-tab-panel button.parent_tab {
  background-color: #eeeeee;
  color: #333 !important;
  border-radius: 5px;
  height: 35px;
  transition: all 0.4s ease;
}

.custom-tab-panel button.parent_tab.active-tab,
.custom-tab-panel button.parent_tab.panel_tab:hover {
  background-color: #4c6fff;
  color: white !important;
}

.popovercomponent {
  width: 100%;
  background-color: #2b7cba;
  color: white;
  margin: 10px 0;
}

.popovercomponent.com_1 {
  margin-top: 20px;
}

.components-input-control__container select[multiple] {
  min-height: 80px !important;
}

.tax_first_child {
  margin-bottom: 25px;
}

.items.selected {
  border: solid 2px gray;
  border-radius: 5px;
}

.post_grid_blocks h2.components-panel__body-title {
  background-color: #f7fafc;
  border-radius: 5px;
}

.post_grid_blocks .components-panel__body {
  border-radius: 5px;
}

.post_grid_blocks button.components-button {
  color: #4c6fff;
}

.post_grid_blocks svg.components-panel__arrow {
  color: #4c6fff !important;
}

.post_grid_blocks h2.components-panel__body-title:hover {
  background-color: #4c6fff;
}

.post_grid_blocks h2.components-panel__body-title:hover button.components-button {
  color: white;
}

.post_grid_blocks h2.components-panel__body-title:hover svg.components-panel__arrow {
  color: white !important;
}

.post_grid_blocks .components-panel__body-toggle.components-button:focus {
  box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) #4c6fff;
  border-radius: 5px;
}

.post_grid_blocks .components-form-toggle.is-checked .components-form-toggle__track {
  background-color: #4c6fff;
}

.post_grid_blocks .components-form-toggle .components-form-toggle__input:focus + .components-form-toggle__track {
  box-shadow: unset !important;
}

.post_grid_blocks .components-tab-panel__tabs-item {
  height: 35px;
}

.post_grid_blocks .components-tab-panel__tab-content {
  margin-top: 15px;
}

.post_grid_blocks .components-button.is-primary {
  color: white !important;
  background-color: #566fff;
}

.post_grid_blocks .components-button.is-primary:hover {
  background-color: #566fff;
}

.post_grid_blocks button.components-button.popovercomponent {
  color: white;
  background-color: #4c6fff;
}

.components-popover .components-popover__content {
  padding: 15px !important;
}

.post_grid_blocks .post-meta-user {
  text-align: center;
}

.rt-tpg-layout-control-parent input.active + img,
.rt-tpg-layout-control-child input.active + img {
  border: solid 2px #4c6fff;
  border-radius: 5px;
}

.rt-tpg-layout-control-parent .layout img:hover {
  border-color: #4c6fff;
}

/* HIDE RADIO */
.rt-tpg-layout-control-parent [type=radio],
.rt-tpg-layout-control-child [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.rt-tpg-layout-control-parent [type=radio] + img,
.rt-tpg-layout-control-child [type=radio] + img {
  cursor: pointer;
  width: 50%;
}

.rt-postsreact-editor {
  padding-bottom: 30px;
}

.rt-react-select2 input:focus {
  box-shadow: none !important;
}

.rt-react-select2 {
  margin: 5px 0 20px 0 !important;
}

.tax_second_child {
  margin: 30px 0px;
}

.button-color-panel .components-tab-panel__tabs {
  width: 100%;
}

.button-color-panel button.tab_panel {
  border: solid 1px gray;
  width: 100%;
  justify-content: center;
  height: 38px;
}

.components-dropdown__content .components-popover__content > div {
  padding: 7px !important;
}

.button-color-panel .components-tab-panel__tab-content {
  padding: 15px;
  margin: 0;
  background-color: aliceblue;
}

.button-color-panel button.tab_panel.active-tab {
  background-color: #4c6fff;
  color: white;
  border: solid 1px #4c6fff;
}

.button-color-panel button.tab_panel:hover {
  background-color: #4b6adb;
  color: white;
  border: solid 1px #4b6adb;
}

.rt-font-family {
  margin-bottom: 18px;
}

.rt-font-family input:focus {
  box-shadow: unset !important;
}

.rttpg-typography-base .components-base-control__field {
  display: flex;
  justify-content: space-between;
}

.rttpg-typography-base .components-dropdown.rttpg-typography-dropdown {
  background-color: #ededed;
  border-radius: 4px;
  padding: 5px 3px;
}

.rttpg-typography-base span.components-base-control__label {
  padding-top: 8px;
  font-size: 14px;
}

.popover-slot .components-popover.components-dropdown__content.my-popover-content-classname .components-popover__content {
  left: -220px;
  padding: 0 !important;
}

.components-circular-option-picker,
.rt-tpg-selectcontrol,
.rt-tpg-unitcontrol,
.rt-tpg-numbercontrol,
.rt-tpg-colorcontrol,
.rt-tpg-radiocontrol,
.rt-tpg-togglecontrol,
.rt-tpg-textcontrol {
  margin-bottom: 15px !important;
  margin-top: 8px !important;
}

.components-text {
  font-size: 14px;
  color: #333;
}

.the_post_grid_blocks .rt-tpg-small-notice {
  font-size: 10px;
  margin-top: -10px;
  color: red;
}

.rt-tpg-radiocontrol .components-radio-control__input:focus {
  box-shadow: unset !important;
}

.components-checkbox-control__input[type=checkbox]:focus,
.components-radio-control__input[type=radio]:focus {
  box-shadow: unset !important;
  outline: unset !important;
}

.the_post_grid_blocks .no_notice {
  padding: 10px 0px 10px 16px;
  background-color: #fff3cd;
  margin: 0px 16px 10px 16px;
  color: #856404;
  border-radius: 5px;
}

.the_post_grid_blocks {
  --rt-tpg-color-primary: #4c6fff;
  --rt-tpg-color-border: #e7e7e7;
}
.the_post_grid_blocks .components-button:hover,
.the_post_grid_blocks .components-button[aria-expanded=true] {
  color: var(--rt-tpg-color-primary);
}
.the_post_grid_blocks .components-button.is-primary {
  background: var(--rt-tpg-color-primary);
}
.the_post_grid_blocks .components-button.is-primary:hover:not(:disabled) {
  background: var(--rt-tpg-color-primary);
  color: #fff;
}
.the_post_grid_blocks .components-text {
  color: #333 !important;
  margin-bottom: 5px !important;
  font-weight: 500;
}
.the_post_grid_blocks .components-base-control__label {
  font-weight: 500;
}
.the_post_grid_blocks .components-input-control__backdrop,
.the_post_grid_blocks .components-select-control__input,
.the_post_grid_blocks .components-input-control__input,
.the_post_grid_blocks .components-text-control__input {
  min-height: 36px !important;
  border: 1px solid var(--rt-tpg-color-border) !important;
}
.the_post_grid_blocks .components-input-control__backdrop:focus-visible, .the_post_grid_blocks .components-input-control__backdrop:focus,
.the_post_grid_blocks .components-select-control__input:focus-visible,
.the_post_grid_blocks .components-select-control__input:focus,
.the_post_grid_blocks .components-input-control__input:focus-visible,
.the_post_grid_blocks .components-input-control__input:focus,
.the_post_grid_blocks .components-text-control__input:focus-visible,
.the_post_grid_blocks .components-text-control__input:focus {
  outline: 0 !important;
  box-shadow: none !important;
  border: 1px solid var(--rt-tpg-color-border) !important;
}
.the_post_grid_blocks .components-input-control__backdrop {
  box-shadow: none !important;
  border-radius: 4px !important;
}
.the_post_grid_blocks .components-input-control__backdrop:focus {
  border: none !important;
  border-radius: 4px !important;
  box-shadow: none;
}
.the_post_grid_blocks input[type=checkbox]:focus,
.the_post_grid_blocks input[type=color]:focus,
.the_post_grid_blocks input[type=date]:focus,
.the_post_grid_blocks input[type=datetime-local]:focus,
.the_post_grid_blocks input[type=datetime]:focus,
.the_post_grid_blocks input[type=email]:focus,
.the_post_grid_blocks input[type=month]:focus,
.the_post_grid_blocks input[type=number]:focus,
.the_post_grid_blocks input[type=password]:focus,
.the_post_grid_blocks input[type=radio]:focus,
.the_post_grid_blocks input[type=search]:focus,
.the_post_grid_blocks input[type=tel]:focus,
.the_post_grid_blocks input[type=text]:focus,
.the_post_grid_blocks input[type=time]:focus,
.the_post_grid_blocks input[type=url]:focus,
.the_post_grid_blocks input[type=week]:focus,
.the_post_grid_blocks select:focus,
.the_post_grid_blocks textarea:focus {
  outline: 0;
  box-shadow: none;
  border-color: var(--rt-tpg-color-border);
}
.the_post_grid_blocks .components-radio-control__input[type=radio]:checked,
.the_post_grid_blocks .components-checkbox-control__input[type=checkbox]:checked {
  background: var(--rt-tpg-color-primary);
  border-color: var(--rt-tpg-color-primary);
}
.the_post_grid_blocks .components-radio-control__input[type=radio],
.the_post_grid_blocks .components-checkbox-control__input[type=checkbox] {
  border-color: var(--rt-tpg-color-border);
}
.the_post_grid_blocks .the_post_grid_blocks svg.components-checkbox-control__checked {
  left: -1px;
  top: -1px;
  width: 18px;
  height: 18px;
}
.the_post_grid_blocks .the_post_grid_blocks .components-checkbox-control__input[type=checkbox] {
  height: 16px;
  width: 16px;
}
.the_post_grid_blocks .the_post_grid_blocks .components-radio-control__input[type=radio] {
  height: 16px;
  width: 16px;
}
.the_post_grid_blocks .components-radio-control__input[type=radio] {
  position: relative;
}
.the_post_grid_blocks .components-radio-control__input[type=radio]:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 600px) {
  .the_post_grid_blocks .the_post_grid_blocks svg.components-checkbox-control__checked {
    left: 1px;
    top: 0px;
    width: 14px;
    height: 14px;
  }
  .the_post_grid_blocks .the_post_grid_blocks .components-checkbox-control__input[type=checkbox] {
    height: 16px;
    width: 16px;
  }
  .the_post_grid_blocks .the_post_grid_blocks .components-radio-control__input[type=radio] {
    height: 16px;
    width: 16px;
  }
  .the_post_grid_blocks .components-radio-control__input[type=radio],
.the_post_grid_blocks .components-checkbox-control__input[type=checkbox] {
    border-color: var(--rt-tpg-color-border);
  }
  .the_post_grid_blocks .components-radio-control__input[type=radio] {
    position: relative;
  }
  .the_post_grid_blocks .components-radio-control__input[type=radio]:before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .the_post_grid_blocks .components-form-toggle.is-checked .components-form-toggle__track {
    background-color: var(--rt-tpg-color-primary);
  }
  .the_post_grid_blocks .rt-tpg-layout-control-parent,
.the_post_grid_blocks .rt-tpg-layout-control-child {
    margin: 0;
  }
  .the_post_grid_blocks .rt-tpg-layout-control-parent > label,
.the_post_grid_blocks .rt-tpg-layout-control-child > label {
    font-weight: 500;
  }
  .the_post_grid_blocks .rt-tpg-layout-control-parent > label:first-of-type,
.the_post_grid_blocks .rt-tpg-layout-control-child > label:first-of-type {
    display: block;
    margin-bottom: 6px;
  }
  .the_post_grid_blocks .rt-tpg-layout-control-parent > label input[type=radio]:focus,
.the_post_grid_blocks .rt-tpg-layout-control-child > label input[type=radio]:focus {
    border: none;
  }
  .the_post_grid_blocks .rt-tpg-layout-control-parent {
    margin-bottom: 12px;
  }
  .the_post_grid_blocks .components-button-group .components-button.is-primary {
    box-shadow: inset 0 0 0 1px var(--rt-tpg-color-primary);
    background-color: var(--rt-tpg-color-primary);
  }
  .the_post_grid_blocks .components-button.is-secondary {
    box-shadow: inset 0 0 0 1px var(--rt-tpg-color-primary);
    background-color: transparent;
    color: var(--rt-tpg-color-primary);
  }
  .the_post_grid_blocks .components-button.is-secondary:hover {
    box-shadow: inset 0 0 0 1px var(--rt-tpg-color-primary);
  }
  .the_post_grid_blocks .css-1pahdxg-control {
    box-shadow: none;
  }
  .the_post_grid_blocks .components-form-toggle .components-form-toggle__input:focus + .components-form-toggle__track {
    box-shadow: none !important;
    outline: 0 !important;
    outline-offset: 0 !important;
  }
}
.the_post_grid_blocks .custom-tab-panel .components-panel__body-title {
  border-radius: 4px;
  margin-bottom: 10px;
}
.the_post_grid_blocks .custom-tab-panel .components-panel__body-toggle {
  background-color: #eaf5ff;
  padding: 13px 48px 13px 16px;
  border-radius: 4px;
}
.the_post_grid_blocks .custom-tab-panel .components-panel__body-toggle:hover {
  background-color: #d3eaff;
}
.the_post_grid_blocks .custom-tab-panel .components-panel__body {
  border: none;
}
.the_post_grid_blocks .components-button.is-link {
  color: var(--rt-tpg-color-primary);
}
.the_post_grid_blocks .components-unit-control__select:focus {
  border-color: var(--rt-tpg-color-border);
}
.the_post_grid_blocks .components-unit-control-wrapper .components-input-control {
  margin-bottom: 0;
}
.the_post_grid_blocks [aria-labelledby*=inspector-box-control-] .components-input-control__backdrop,
.the_post_grid_blocks [aria-labelledby*=inspector-box-control-] .components-input-control__input {
  min-height: 30px !important;
}
.the_post_grid_blocks [aria-labelledby*=inspector-box-control-] .components-flex {
  gap: 4px;
}
.the_post_grid_blocks .components-circular-option-picker__option-wrapper {
  transition: all 0.3s ease;
}
.the_post_grid_blocks .components-circular-option-picker__option:focus:after {
  border-color: var(--rt-tpg-color-primary);
}
.the_post_grid_blocks .components-button.is-secondary,
.the_post_grid_blocks .components-button.is-tertiary,
.the_post_grid_blocks .components-button.is-secondary {
  color: var(--rt-tpg-color-primary);
  box-shadow: inset 0 0 0 1px var(--rt-tpg-color-primary);
  outline: 0;
}
.the_post_grid_blocks .components-button.is-secondary:focus,
.the_post_grid_blocks .components-button.is-tertiary:focus,
.the_post_grid_blocks .components-button.is-secondary:focus {
  outline: 0;
}
.the_post_grid_blocks .components-button.components-circular-option-picker__clear:hover,
.the_post_grid_blocks .components-button.components-circular-option-picker__clear:focus {
  box-shadow: inset 0 0 0 1px var(--rt-tpg-color-primary);
  color: var(--rt-tpg-color-primary);
}

.components-panel__body > .components-panel__body-title {
  background: #f0f0f0;
}

.components-panel__body > .components-panel__body-title:hover {
  background: #d8d8d8;
}

.rttpg-panel-control {
  --rt-tpg-color-primary: #4c6fff;
  --rt-tpg-color-border: #e7e7e7;
}
.rttpg-panel-control .components-button.components-circular-option-picker__clear:hover,
.rttpg-panel-control .components-button.components-circular-option-picker__clear:focus {
  box-shadow: inset 0 0 0 1px var(--rt-tpg-color-primary);
  color: var(--rt-tpg-color-primary);
}
.rttpg-panel-control .components-circular-option-picker__option:focus:after {
  border-color: var(--rt-tpg-color-primary);
}
.rttpg-panel-control .components-select-control__input,
.rttpg-panel-control .components-input-control__input {
  height: 36px !important;
  min-height: 36px !important;
  border: 1px solid var(--rt-tpg-color-border) !important;
}
.rttpg-panel-control .components-select-control__input:focus,
.rttpg-panel-control .components-input-control__input:focus {
  border: 1px solid var(--rt-tpg-color-border) !important;
}
.rttpg-panel-control .components-input-control__backdrop {
  box-shadow: none !important;
  border-radius: 4px !important;
  border-color: var(--rt-tpg-color-border) !important;
}
.rttpg-panel-control .components-input-control__backdrop:focus {
  border: none !important;
  border-radius: 4px !important;
  box-shadow: none;
}
.rttpg-panel-control .components-text {
  font-weight: 500 !important;
  padding-bottom: 8px !important;
}
.rttpg-panel-control .components-tab-panel__tabs {
  border: 1px solid var(--rt-tpg-color-border);
}
.rttpg-panel-control .button-color-panel button.tab_panel {
  border: none;
  transition: all 0.4s ease;
}
.rttpg-panel-control .button-color-panel button.tab_panel:hover {
  background-color: var(--rt-tpg-color-primary);
}
.rttpg-panel-control .components-button.is-link {
  color: var(--rt-tpg-color-primary);
}
.rttpg-panel-control .components-button.is-secondary,
.rttpg-panel-control .components-button.is-tertiary,
.rttpg-panel-control .components-button.is-secondary {
  color: var(--rt-tpg-color-primary);
  box-shadow: inset 0 0 0 1px var(--rt-tpg-color-primary);
  outline: 0;
}
.rttpg-panel-control .components-button.is-secondary:focus,
.rttpg-panel-control .components-button.is-tertiary:focus,
.rttpg-panel-control .components-button.is-secondary:focus {
  outline: 0;
}

.rt-react-select2 .css-1s2u09g-control {
  min-height: 36px;
}
.rt-react-select2 .css-1pahdxg-control,
.rt-react-select2 [class*=-control] {
  border-color: var(--rt-tpg-color-border);
}
.rt-react-select2 .css-1pahdxg-control:active, .rt-react-select2 .css-1pahdxg-control:focus, .rt-react-select2 .css-1pahdxg-control:hover,
.rt-react-select2 [class*=-control]:active,
.rt-react-select2 [class*=-control]:focus,
.rt-react-select2 [class*=-control]:hover {
  border-color: var(--rt-tpg-color-border);
}
.rt-react-select2 [class*=-ValueContainer] {
  padding: 0 8px;
}
.rt-react-select2 [class*=-Input] {
  padding: 0;
  margin: 0;
}
.rt-react-select2 [class*=-indicatorContainer] {
  padding: 4px 6px;
}

.rt-tpg-query-checkbox-wrapper .components-base-control {
  margin-bottom: 10px;
}
.rt-tpg-query-checkbox-wrapper .tax_first_child {
  margin-bottom: 10px;
}
.rt-tpg-query-checkbox-wrapper .tax_second_child {
  margin: 20px 0px;
}

.block-editor-block-inspector .components-base-control,
.block-editor-block-inspector .components-input-control {
  margin-bottom: 10px;
}

.rt-tpg-order-child-wrapper {
  margin-bottom: 16px;
}

.rt-tpg-query-checkbox-first-child, .rt-tpg-query-checkbox-second-child, .rt-tpg-query-checkbox-third-child {
  margin-left: 16px;
}

.the_post_grid_blocks .rt-tpg-date-range-control .components-datetime .components-datetime__time fieldset:nth-child(2) {
  display: none !important;
}

.the_post_grid_blocks .rt-tpg-date-range-control .components-datetime .components-datetime__time {
  padding-bottom: 0px !important;
  justify-content: center !important;
}

.the_post_grid_blocks .rt-tpg-date-range-control .components-datetime {
  padding-top: 5px !important;
}

.the_post_grid_blocks .rt-tpg-filter-first-child {
  margin-left: 20px;
}

.the_post_grid_blocks .rt-tpg-date-range-control {
  margin-bottom: 15px;
}

/*================= Control panel loader start ================*/
.the_post_grid_blocks .rt-tpg-control-lds-ripple {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
}

.the_post_grid_blocks .rt-tpg-control-lds-ripple div {
  position: absolute;
  border: 4px solid #5d5d5d;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: rt-tpg-control-lds-ripple 1s cubic-bezier(0, 0.8, 0.8, 1) infinite;
          animation: rt-tpg-control-lds-ripple 1s cubic-bezier(0, 0.8, 0.8, 1) infinite;
}

.the_post_grid_blocks .rt-tpg-control-lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes rt-tpg-control-lds-ripple {
  0% {
    top: 15px;
    left: 15px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    opacity: 0;
  }
}

@keyframes rt-tpg-control-lds-ripple {
  0% {
    top: 15px;
    left: 15px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    opacity: 0;
  }
}
.the_post_grid_blocks svg.components-checkbox-control__checked {
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
}
.the_post_grid_blocks .components-radio-control__input[type=radio]:checked:before {
  width: 3px;
  height: 3px;
  border: 3px solid #fff;
}

.the_post_grid_blocks .components-radio-control__input[type=radio], .the_post_grid_blocks .components-checkbox-control__input[type=checkbox] {
  width: 16px;
  height: 16px;
}

@media (min-width: 600px) {
  .the_post_grid_blocks .components-radio-control__input[type=radio], .the_post_grid_blocks .components-checkbox-control__input[type=checkbox] {
    width: 16px;
    height: 16px;
  }
}
/*================= Control panel loader end ================*/
