/*************************************************************************/
/************************** Custom CSS ***********************************/
/*************************************************************************/
button:focus {
  outline: none !important;
}

.rt-thepostgrid {
  position: relative;
}

.loader-wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.loader-wrapper2 {
  position: fixed;
  left: 42%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.rt-tpg-lds-dual-ring {
  width: 80px;
  height: 80px;
  position: relative;
  left: 0;
  right: 0;
  margin: 50px auto;
}

.rt-tpg-lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #444444;
  border-color: #444444 transparent #444444 transparent;
  -webkit-animation: rt-tpg-lds-dual-ring 1.2s linear infinite;
          animation: rt-tpg-lds-dual-ring 1.2s linear infinite;
  left: 0;
  right: 0;
  margin: auto;
}

@-webkit-keyframes rt-tpg-lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rt-tpg-lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rt-tpg-lds-dual-ring2 {
  display: inline-block;
  width: 80px;
  height: 80px;
  width: 100%;
}

.rt-tpg-lds-dual-ring2:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #444444;
  border-color: #444444 transparent #444444 transparent;
  -webkit-animation: rt-tpg-lds-dual-ring 1.2s linear infinite;
          animation: rt-tpg-lds-dual-ring 1.2s linear infinite;
  left: 0;
  right: 0;
  margin: auto;
}

@-webkit-keyframes rt-tpg-lds-dual-ring2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rt-tpg-lds-dual-ring2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rootloading {
  margin: 15px 0px;
}

.rt-holder .entry-title {
  margin-bottom: 15px !important;
}

.pagination {
  text-align: center !important;
  margin-top: 50px;
  margin-bottom: 50px;
  display: block !important;
}

.pagination .pagination_number {
  background-color: #4c6fff;
  color: white;
  padding: 15px 15px;
  border: solid 0px #ffffff00;
  margin: 1px;
  border-radius: 2px;
  cursor: pointer;
  line-height: 0;
}

.pagination .pagination_number:hover, .pagination .pagination_number.active {
  background-color: #1c2f7a;
}

a, .rt-thepostgrid a {
  text-decoration: none;
}

.tpg-iso-filter {
  text-align: center;
  margin-bottom: 50px;
}

.tpg-iso-filter button {
  padding: 8px 20px;
  background-color: #8e8e8e;
  border: none;
  margin: 5px;
  border-radius: 5px;
  color: white;
}

.tpg-iso-filter button.selected, .tpg-iso-filter button:hover {
  background-color: #0367bf;
}

.no_notice {
  text-align: center;
  border: 0;
  box-shadow: none;
  background-color: #fff3cd;
  color: #856404;
  padding: 15px 0;
  margin-bottom: 15px;
  border-radius: 5px;
}

.rt-thepostgrid {
  min-height: 80vh !important;
}

.read-more a {
  padding: 8px 20px;
  display: inline-block;
  font-size: 15px;
  line-height: 1.8;
  border: 1px solid rgba(203, 203, 203, 0.4);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0 !important;
  margin-bottom: 10px !important;
}

.grid-layout-1 .rt-holder {
  height: 100%;
  min-width: 100%;
}

.list1 .tpg-excerpt, .list2 .tpg-excerpt, .rt-equal-height {
  margin-bottom: 15px;
}

.cat-above-title span.categories-links {
  margin-bottom: 6px;
}

#terms_icon {
  background-color: transparent !important;
  margin-right: 0px !important;
  padding: 0 !important;
}

#terms_icon:after {
  border-top: unset !important;
}

.list1 .rt-img-holder, .list2 .rt-img-holder {
  padding-top: 5px !important;
}

.grid1 .rt-detail {
  padding: 15px;
}

.tpg-widgets-heading {
  padding: 5px 15px 5px 15px;
  margin: 0px;
}

.grid1, .list1, .list2, .isotope1 {
  display: flex;
  flex-wrap: wrap;
}

span.categories-links {
  padding-right: 5px !important;
}

html {
  scroll-behavior: smooth;
}

ins.adsbygoogle {
  width: 100% !important;
  margin-top: 10px;
}

.layout_parent {
  margin-bottom: 30px;
}

a:hover {
  color: #2973be;
}

.grid1 .rt-detail {
  padding: 15px;
}

.list_layout .rt-detail {
  padding: 0px;
}

.tpg-widgets-heading span {
  font-size: 28px;
  font-weight: 500;
}

.tpg-title {
  font-size: 22px;
  font-weight: 500;
}

.tpg-excerpt {
  font-size: 15px;
  font-weight: 400;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}

.lds-ripple div {
  position: absolute;
  border: 3px solid #000;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 20px;
    left: 20px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 20px;
    left: 20px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    opacity: 0;
  }
}
.excerpt_wrapper {
  position: relative;
}

.excerpt_wrapper .lds-ripple {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.iconclass {
  font-size: 15px;
}

.post-meta-user span.author, .post-meta-user .date, .post-meta-user .categories-links, .post-meta-user .comment-count, .post-meta-tags span {
  font-size: 15px;
}

post-meta-user .date span {
  padding-right: 0px !important;
}

/* ================================== */
.tpg-widget-heading-wrapper {
  align-items: center;
}

.tpg-widget-heading-wrapper .tpg-widgets-heading {
  position: relative;
  padding-right: 15px;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}

.tpg-widget-heading-wrapper.center .tpg-widgets-heading {
  margin: 0;
  padding: 0;
}

.tpg-widget-heading-wrapper .heading_dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #1e73be;
  display: inline-block;
  margin: 0 12px;
  vertical-align: middle;
}

.tpg-widget-heading-wrapper.center .heading_dot {
  display: none;
}

.tpg-widget-heading-wrapper.center .tpg-widget-heading-line {
  margin-left: 15px;
}

.tpg-widget-heading-wrapper.heading-style3 .heading_dot, .tpg-widget-heading-wrapper.heading-style2 .heading_dot {
  display: none;
}

.tpg-widget-heading-wrapper.heading-style2 .tpg-widgets-heading,
.tpg-widget-heading-wrapper.heading-style3 .tpg-widgets-heading {
  background-color: #1e73be;
  color: #fff;
  line-height: 1.4;
  padding: 5px 15px;
}

.tpg-widget-heading-wrapper.right .tpg-widgets-heading::before {
  left: 0;
  right: auto;
}

.tpg-widget-heading-wrapper.heading-style2 .tpg-widgets-heading::after {
  content: "";
  position: absolute;
  top: 0;
  right: -11px;
  border-width: 12px 12px 0 0;
  border-style: solid;
  border-color: #1e73be transparent;
}

.tpg-widget-heading-wrapper.heading-style2.right .tpg-widgets-heading::after {
  left: -11px;
  right: auto;
  border-width: 12px 0 0 12px;
}

.tpg-widget-heading-wrapper.heading-style2.center .tpg-widgets-heading::after {
  content: none;
}

.lds-ripple {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 0;
  right: 0;
  margin: auto;
  top: 100px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #333;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
/* ========================= */
.lds-ripple2 {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  left: 0;
  right: 0;
  margin: auto;
}

.lds-ripple2 div {
  position: absolute;
  border: 4px solid #333;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple2 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple2 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple2 div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes lds-ripple2 {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes lds-ripple2 {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
